@import './reset.css';
@import './theme.css';
@import './base.css';
@import './card-component.css';

.card-box {
  --size: 31.25em;

  position: relative;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  block-size: var(--size);
  margin-block-end: calc(var(--large-spacing) / 2);

  .product {
    /* box */
    --spacing: var(--small-spacing);
    --spacing-top: var(--large-spacing);

    /* justify-items: center; */
    display: flex;
    flex-flow: column wrap;
    row-gap: var(--spacing);
    align-items: center;
    text-align: center;
    margin-block-start: var(--spacing-top);
    margin-block-end: var(--spacing);
    pointer-events: none;

    @media (width >= 1024px) {
      --size-title: var(--extra-large-text);
      --size-subtitle: var(--medium-text);
    }
  }

  .link-btn {
    margin-inline: calc(var(--small-spacing) / 2);

    @media (width >= 1024px) {
      --size: var(--x-small-text);
    }
  }

  .link-img {
    position: absolute;

    &.img-1 {
      background-image: url(../products/ipad_pro.webp);
    }
    &.img-2 {
      background-image: url(../products/ipad_air.webp);
    }
    &.img-3 {
      background-image: url(../products/iphone15_pro.webp);
    }
    &.img-4 {
      background-image: url(../products/iphone15.webp);
    }
    &.img-5 {
      background-image: url(../products/apple_watch.webp);
    }
    &.img-6 {
      background-image: url(../products/macbook_air.webp);
    }
    &.img-7 {
      background-image: url(../products/airpods_pro.webp);
    }

    @media (width <= 1024px) and (min-resolution: 2dppx) {
      &.img-1 {
        background-image: url(../products/ipad_pro_2x.webp);
      }
      &.img-2 {
        background-image: url(../products/ipad_air_2x.webp);
      }
      &.img-3 {
        background-image: url(../products/iphone15_pro_2x.webp);
      }
      &.img-4 {
        background-image: url(../products/iphone15_2x.webp);
      }
      &.img-5 {
        background-image: url(../products/apple_watch_2x.webp);
      }
      &.img-6 {
        background-image: url(../products/macbook_air_2x.webp);
      }
      &.img-7 {
        background-image: url(../products/airpods_pro_2x.webp);
      }
    }
    @media (width >= 1024px) {
      &.img-1 {
        background-image: url(../products/ipad_pro_2x.webp);
      }
      &.img-2 {
        background-image: url(../products/ipad_air_wide.webp);
      }
      &.img-3 {
        background-image: url(../products/iphone15_pro_wide.webp);
      }
      &.img-4 {
        background-image: url(../products/iphone15.webp);
      }
      &.img-5 {
        background-image: url(../products/apple_watch.webp);
      }
      &.img-6 {
        background-image: url(../products/macbook_air.webp);
      }
      &.img-7 {
        background-image: url(../products/airpods_pro.webp);
      }
    }
    @media (width >= 1024px) and (min-resolution: 2dppx) {
      &.img-1 {
        background-image: url(../products/ipad_pro_wide_2x.webp);
      }
      &.img-2 {
        background-image: url(../products/ipad_air_wide_2x.webp);
      }
      &.img-3 {
        background-image: url(../products/iphone15_pro_wide_2x.webp);
      }
      &.img-4 {
        background-image: url(../products/iphone15_2x.webp);
      }
      &.img-5 {
        background-image: url(../products/apple_watch_2x.webp);
      }
      &.img-6 {
        background-image: url(../products/macbook_air_2x.webp);
      }
      &.img-7 {
        background-image: url(../products/airpods_pro_2x.webp);
      }
    }
  }
}

.card-box.light {
  .product {
    --color: var(--black);
  }
  .link-btn {
    &.fill {
      --color: var(--white);
      --color-bg: var(--black);
    }

    &.outline {
      --color: var(--black);
    }
  }
}

.product,
.link-btn-container {
  position: relative;
  z-index: 1;
}

.wrapper02 {
  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(var(--large-spacing) / 2);
  }
}
