@property --point-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #22be61;
}

header {
  margin-inline: 50%;
}

.login-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 10px red;

  .form-container {
    display: contents;
  }

  .form-input {
    display: flex;
  }

  label {
    position: absolute;
  }

  small {
    color: transparent;
    flex-grow: 1;
  }

  input {
    flex-grow: 1;
  }
}
